section.genplan {
    display: flex;
    min-height: calc(100vh - 200px);

    .table {
        width: 450px;
        margin: 100px;
    }
}

.build {
    fill: transparent;
    cursor: pointer;
    stroke: transparent;
    fill-opacity: 0.5;
    transition: .3s;
}

#build-1 {
    &:hover {
        fill: #72A46A;
        stroke: #72A46A;
    }
}

#build-2 {
    &:hover {
        fill: #A466AE;
        stroke: #A466AE;
    }
}

#build-3 {
    &:hover {
        fill: #829ECA;
        stroke: #829ECA;
    }
}

#build-4 {
    &:hover {
        fill: #FF8A1F;
        stroke: #FF8A1F;
    }
}

#build-5 {
    &:hover {
        fill: #FFE484;
        stroke: #FFE484;
    }
}
