.flat {
    &.free {
        .bg-status {
            fill: #4eb8d3;
        }
        
    }

    &.action {
        .bg-status {
            fill: #80d34e;
        }
    }

    &.sold {
        .bg-status {
            fill: #d34e4e; 
        }
        
    }

    &.booking {
        .bg-status {
            fill: #6b68ff;
        }
    }
}

.plan {
    fill: #f0f8ff00;
    stroke: #ff000000;
    cursor: pointer;
    &:hover {
        fill: #74ff893c;
        stroke: #42fb5e;
        stroke-width: 3px;
    }
}

.apartment-sold {
    &:hover {
        cursor: no-drop;
        fill: #e2384679;
        stroke: #e23846;
    }
}

.apartment-booking {
    &:hover {
        cursor: no-drop;
        fill: #8b76c279;
        stroke: #8c76c2;
    }
}

.apartment-free {
    &:hover {
        fill: #50a0d479;
        stroke: #509fd4;
    }
}