footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.github {
    position: fixed;
    left: 5px;
    background-color: #000;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    padding: 7px 12px;
    border-radius: 23px;
    line-height: 1;
    font-weight: 400;
}
 